* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
      font-size: large;
}

.main {
  margin: 25px 10px;
}

.results h3 {
  margin-bottom: 4px;
}

.results p {
  margin-top: 4px;
}

.input-field {
  padding: 4px 5px;
  margin-bottom: 0;
  margin-right: 6px;
  font-size: 18px;
  max-width: 150px;
  border-radius: 6px;
  border: solid 1px #dcdcdc
}

.button {
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 8px 24px;
  margin: 0 6px 0 0;
  text-decoration: none;
  text-shadow: none;
  outline: 0;
  vertical-align: top;
}

.button:hover {
  box-shadow: none;
  background: #683aff linear-gradient(to bottom, #683aff, #5a2696 90%);
  border: 1px solid #5a2696;
  color: #ffe5ef;
  text-shadow: none;
}

.activebutton {
  box-shadow: none;
  background: #683aff linear-gradient(to bottom, #683aff, #5a2696 90%);
  border: 1px solid #5a2696;
  color: #ffe5ef;
  text-shadow: none;
}
