<div class="main">
    <p>Let's play with some data:</p>
    <div>
        <input type="text" class="input-field" id="listItem" name="listItem" [(ngModel)]="listItem">
        <button class="button" type="button" (click)="addItem()">Add Input</button>
    </div>

    <div class="results">
        <h3>Item count {{data.length}}:</h3>
        <p>Or just populate an array for now...</p>

        @for (item of data; track item; let idx = $index) {
            <div>{{idx + 1}}: {{item}}</div>
        } @empty {
            <div>There are no items.</div>
        }
    </div>
</div>